/* In your CSS */
:root {
  --color-primary: #412d18;
  --color-accent: #fdbd10;
  /* ... */
}

@tailwind base;

@tailwind components;

@tailwind utilities;

/* CUSTOM STYLES */

/* Buttons */
.btn-category-facebook {
  @apply bg-blue-700;
}

.btn-category-google {
  @apply bg-red-500;
}

.btn-category-accent {
  @apply bg-accent;
}

/* .btn-category-accent:hover,
.btn-category-facebook:hover,
.btn-category-google:hover,
.btn-category-accent:focus,
.btn-category-facebook:focus,
.btn-category-google:focus {
 */
/* } */

/* Form Inputs */
input[type="text"]:focus-within ~ label,
input[type="text"]:not(:placeholder-shown) ~ label,
input[type="email"]:focus-within ~ label,
input[type="email"]:not(:placeholder-shown) ~ label,
input[type="password"]:focus-within ~ label,
input[type="password"]:not(:placeholder-shown) ~ label {
  @apply transform;
  @apply scale-50;
  @apply -translate-x-2;
  transform: translateY(-2rem);
  @apply text-accent;
}

input.input-accent:not(:placeholder-shown) ~ label,
input.input-accent:focus-within ~ label {
  @apply text-black;
}

input[type="text"]:focus-within ~ label,
input[type="email"]:focus-within ~ label,
input[type="password"]:focus-within ~ label {
  @apply text-accent;
}

input[type="checkbox"] {
  @apply text-accent;
}

.search-address-input:focus-within ~ label,
.search-address-input:not(:placeholder-shown) ~ label {
  @apply transform;
  @apply scale-50;
  @apply -translate-x-2;
  transform: translateY(-2.4rem);
  @apply text-accent;
}

/* Customer Navbar Dropdown */
.dropdown-enter {
  opacity: 0;
  transform: scale(0.9);
}
.dropdown-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.dropdown-exit {
  opacity: 1;
}
.dropdown-exit-active {
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 300ms, transform 300ms;
}
