.section-three {

  &-catch {
    font-size: 1.6rem;
    max-width: 70%;
    font-weight: 400;
    &-heading {
      font-size: 3rem;
    }
  }
}

@include respond(xs) { 
  .section-three {
  
    &-catch {
      font-size: 1.3rem;
      max-width: 95%;
      font-weight: 300;

      &-heading {
  
      }
    }
  }
}