.bg-accent {
  background-color: #FEF1B8;
}
/*scss for footer*/
.bg-footer
{
  background-color: #363a45;
}
.footer
{
  color: white;
  padding-top: 1.5%;
  padding-bottom: 1%;
}
.sub-footer
{
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
}
.socialmedia-buttons
{
  border-style: none;
  margin: 1%;
  background-color: none;
  color: none;
}
.cuisines{
  margin: 0;
  padding: 0; 
  list-style: none; 
  font-size: 16px;
  -webkit-columns: 4; 
  -moz-columns: 4; 
  columns: 4; 
  column-width: auto; 
  column-count: 4;
}
.footer-sub-content
{
  font-weight: bold;
}
hr
{
  margin: 0;
  padding: 0;
  border-width: 0.1%;
  background-color: #363a45;
}

.section-two {
  margin-top: 30rem;


  &-content {
    z-index: 2;
  }

  &-heading {
    font-size: 4rem;
    line-height: 8rem;
  }

  &-subheading {
    font-size: 2.5rem;
    line-height: 5rem;
  }

  &-paragraphs {
    font-size: 1.5rem;
    font-weight: 400;
    color: $fiord-blue;
  }
}

.chef-container {
  width: 100%;
  height: auto;
}

@include respond(xs) { 

  .section-two {
    margin-top: 30rem;
  
  
    &-content {
      z-index: 2;
    }
  
    &-heading {
      margin-top: 2rem;
      font-size: 4rem;
      line-height: 3rem;
    }
  
    &-subheading {
      font-size: 2.5rem;
      line-height: 2.5rem;
    }
  
    &-paragraphs {
      font-size: 1.2rem;
      font-weight: 300;
    }
  }
 
}
.space-bottom-5
{
  padding-top: 3%;
  padding-bottom: 3%;
}
.download-container-fluid
{
  padding-left: 4%;
}
.btn_border
{
  background-color: black;
  border-style: none;
  color: white;
  padding: 2%;
}
.subscribe-input-height-10
{
  height: 100%;
}